<% @posts.each do |post| %>
  <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
  <%=  link_to 'upvote', upvote_post_path(post), method: :put%>
  <%=  link_to 'downvote', downvote_post_path(post), method: :put%>
  <%= post.get_upvotes.size %>
<% end %>

<% if current_user %>
  <%= link_to 'Add Post', new_post_path %>
<% end %>
