<div class="post-body small-12 medium-10 medium-centered large-8 large-centered columns">
  <h2>
    <i class="fa fa-cutlery green"></i> <%= @post.title %>
    <% if current_user == @post.user %>
      <%= link_to '- edit post', edit_post_path(@post) %>
    <% end %>
  </h2>
  <h5><a href="http://maps.google.com/?q=<%= @post.address %>"><%= @post.address %></a></h5>
  <p>Tags:
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
  <% end %></p>
  <p class="post-content"><%= @post.content %></p>

  <% if @comments.size > 0 %>
    <div class="comments-box">
      <ul class="no-bullet">
        <%= comments_tree_for @comments %>
        <br><%= link_to "add a comment", new_post_comment_path(@post) %>
      </ul>
    </div>
  <% end %>
  <br><%= link_to "return to suggestions page", root_path %><br>
  <% if current_user == @post.user %>
    <br><%= link_to 'delete post', post_path(@post), method: :delete, class: "button alert radius small delete-button", data: { confirm: 'Are you sure you want to delete the post?' } %>
  <% end %>
</div>