<div class="post-body small-12 medium-10 medium-centered large-8 large-centered columns">
  <h2><i class="fa fa-cutlery green"></i> <%= @post.title %></h2>
  <h5><a href="http://maps.google.com/?q=<%= @post.address %>"><%= @post.address %></a></h5>
  <p>Tags:
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
  <% end %></p>
  <p class="post-content"><%= @post.content %></p>
  <%= link_to "add a comment", new_post_comment_path(@post) %>

  <% if @comments.size > 0 %>
    <div class="comments-box">
      <ul class="no-bullet">
        <%= comments_tree_for @comments %>
        <%= link_to "add a comment", new_post_comment_path(@post) %>
      </ul>
    </div>
  <% end %>
  <br><%= link_to "return to suggestions page", root_path %>

</div>